.column_score_global {    
    background: orange !important;
}

.column_score_global_access {    
    background: lightblue !important;
}

.column_score_global_competences {    
    background: lightblue !important;
}

/* .main-table {
    padding: 2rem;
    margin: 2rem;    
} */